@media (max-width: 992px) {
    .Menu:first-of-type{
        width: 100%;
    }
    .menu-item {
        margin-left: 3rem;
    }
    .custom-tooltip {
        display: none!important;
    }
    #sidebar {
        position: fixed;
    }
    section.ant-layout#mainSection{
        margin-top: 5rem;
    }
}
@media (min-width: 992px) {
    .Menu {
        height : 50%;
        flex-direction: column;
    }
    .menu-item {
        margin-top: 2rem;
    }
}
.Menu {
    display: flex;
}
.Menu:first-of-type {
    justify-content: flex-start;
}
.Menu:last-of-type {
    justify-content: flex-end;
}
.menu-item i {
    font-size: 1.3rem;
    color: #d8d8d8;
    transition: all 0.3s;
}
.menu-item i:hover {
    color: #3b95ff;
}
.menu-item i:focus,.onPage {
    color: #0125ff!important;
}
.custom-tooltip.ltr {
    left: 5rem!important;
}
.custom-tooltip.rtl {
    right: 5rem!important;
    left: initial!important;
}
.custom-tooltip .ant-tooltip-inner,.custom-tooltip .ant-tooltip-arrow:before {
    background-color: rgba(255, 255, 255, .65);
    color: #000;
}
.menu-badge .ant-badge-count {
    top: -4px!important;
    margin-right : -4px;
}